body {
    background-color: bisque;
    color:rgba(39, 17, 2, 0.904) ;
    font-size: 30px;
}

h1{
    text-align: center;
    color: saddlebrown;
}

h2{
    text-align: center;
    color: sandybrown;
}

h4{
   text-align: left;
   margin-left: 36px;
}