body {
    font-family: 'Bebas Neue', cursive;
    background-color: #C4CFD4;
    color:rgba(39, 17, 2, 0.904) ;
    font-size: 30px;
}

h1{
    text-align: center;
    color: #000000;
}

h2{
    text-align: center;
    color: #7192BE;
}

.blogs{
   text-align: left;
   margin-left: 200px;
}
