body {
    font-family: 'Bebas Neue', cursive;
    background-color: #030303;
    color:rgba(255, 255, 255, 0.904) ;
    font-size: 30px;
}

h1{
    text-align: center;
    color: #ffffff;
}

h2{
    text-align: center;
    color: #a9ceff;
}

.blogs{
   text-align: center;
   border: 4px solid #39393a;
   padding-bottom: 45px;
   width: 50%;
   margin:auto;
   margin-bottom: 100px;
   background-color: rgb(161, 161, 161);
}
   

